<div class="container">
  <!-- Status Upload BOX  -->
  <div class="row">
  <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="widget-area no-padding blank">
        <div class="status-upload">
          <form>
            <input placeholder="Write the title here" ng-model="newPost.title"/>
            <textarea placeholder="Write something about it?" ng-model="newPost.text"></textarea>
            <ul>
              <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Audio"><i class="fa fa-music"></i></a></li>
              <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Video"><i class="fa fa-video-camera"></i></a></li>
              <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Sound Record"><i class="fa fa-microphone"></i></a></li>
              <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Picture"><i class="fa fa-picture-o"></i></a></li>
            </ul>
            <button type="submit" class="btn btn-success green" ng-click="addPost()"><i class="fa fa-share"></i>Post</button>
          </form>
        </div>
    </div>
    </div>
  </div>

  <!-- post list  -->

  <div class="row">&nbsp;</div>

  <div class="well">
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object post-thumb" src="assets/images/default_post.png">
        </a>
      <div class="media-body">
        <h4 class="media-heading">Receta 1</h4>
          <p class="text-right">By Francisco</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
Aliquam in felis sit amet augue.</p>
          <ul class="list-inline list-unstyled">
            <li><span><i class="glyphicon glyphicon-calendar"></i> 2 days, 8 hours </span></li>
            <li>|</li>
            <span><i class="glyphicon glyphicon-comment"></i> 0 comments</span>
            <li>|</li>
            <li>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
          </li>
       </div>
    </div>
  </div>

  <div class="well">
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object post-thumb" src="assets/images/default_post.png">
        </a>
      <div class="media-body">
        <h4 class="media-heading">Receta 1</h4>
          <p class="text-right">By Francisco</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
Aliquam in felis sit amet augue.</p>
          <ul class="list-inline list-unstyled">
            <li><span><i class="glyphicon glyphicon-calendar"></i> 2 days, 8 hours </span></li>
            <li>|</li>
            <span><i class="glyphicon glyphicon-comment"></i> 0 comments</span>
            <li>|</li>
            <li>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
          </li>
       </div>
    </div>
  </div>
</div>
